*.pyc

config.ini
.cache.sqlite
**/db.json


**/chiptunes/*.ym
**/chiptunes/*.vtx
**/chiptunes/*.vgz
**/chiptunes/*.sid
**/chiptunes/*.ssl

**/pcm/*.mp3
**/pcm/*.wav

**/programs/*.prg
**/programs/c64/*.prg
**/programs/c264/*.prg
**/programs/msx/*.prg
